main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {

    img {
        border-radius: 50%;
    }
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
}